{
  "presets": [
    [
      "@babel/preset-env", {
        "shippedProposals": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-pipeline-operator",
    "@babel/plugin-proposal-async-generator-functions"
  ]
}