{
  "presets": [
    [
      "@babel/preset-env", {
        "target": {
          "node": 9
        },
        "modules": false, 
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-pipeline-operator",
    "@babel/plugin-syntax-async-generators"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env", {
            "shippedProposals": true,
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-pipeline-operator",
        "@babel/plugin-proposal-async-generator-functions"
      ]
    }
  }
}